*{
	margin: 0px;
	padding: 0px;
}

h1{
	margin: 20px;
	border-bottom: solid black 2px;
	width: 420px;
}

.form{
	display: inline-block;
	margin-right: ;
}

label{
	width: 140px;
	display: inline-block;
	text-align: right;
	padding: 8px;
	line-height: 20px;
}

input{
	width: 280px;
	line-height: 25px;

}

#submit-button{
	width: 100px;
	margin: 20px 0px 0px 345px;
	background-color: #DDDDDD;
	border-radius: 5px;
	line-height: 20px;
}

#contacts{
	display: inline-block;
	vertical-align: top;
	width: 100%;
	margin-left: 150px;
	padding: 30px;
}


.left{
	display: inline-block;
}

.right{
	display: inline-block;
	vertical-align: top;
	width: 400px;
}

h2{
	outline: 1px solid black;
	height: 140px;
	width: 100px;
	padding: 20px;
}

#contacts p{
	outline: 1px solid black;
	height: 140px;
	width: 100px;
	padding: 20px;
}
